.button {
    width: 6rem;
    height: auto;
    padding: 0.4rem;
    background: #519C37;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 700;
}