.wrapper_right {
    z-index: 2;
    position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 1.5rem;
    right: 1.5rem;

    .logo_img {
        height: 4rem;
        width: auto;
        font-weight: 900;
    }

    .logo_text {
        font-size: 0.8rem;
        color: #ffffff;
        .booking {
            color: #519c37;
        }
    }
}




.wrapper_left {

    z-index: 2;
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
	align-items: center;
	top: 1.5rem;
    left: 1.5rem;

    .logo_img {
        height: 8em;
        width: auto;
        font-weight: 900;
    }

    .logo_text {
        margin: 0 1rem;
        font-size: 6em;
        font-weight: 900;
        color: #ffffff;
        .booking {
            color: #519c37;
        }
    }
}

@media (max-width: 720px) {
	.logo_img {
		height: 3rem;
		width: 3rem;
	}

	.logo_text {
		font-size: .7rem;
	}
}
