.hint {
	position: absolute;
	bottom: -10px;
	left: 15px;
}

.shape {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
	padding: 2px 10px;
	position: absolute;
	width: auto;
	height: auto;
	color: #ffffff;
	background: #519c37;
	line-height: 20px;
	border-radius: 6px;
}
.shape::after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: auto;
	height: auto;
	border-bottom: 8px solid #519c37;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
