@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #434343;
  font-size: 1.5vmin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
